<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HomeCare_4_0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="TrackingSystemEntities" connectionString="metadata=res://*/Models.TrackingSystemModel.csdl|res://*/Models.TrackingSystemModel.ssdl|res://*/Models.TrackingSystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.9.0.37;initial catalog=TrackingSystem;user id=AdminCRM;password=AdminDpta@it;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HomeCareDBEntities" connectionString="metadata=res://*/Models.HomeCareDBModel.csdl|res://*/Models.HomeCareDBModel.ssdl|res://*/Models.HomeCareDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.9.0.123;initial catalog=HomeCare;user id=AdminHomeCare;password=AdminDpta@IT;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="HomeCareDBEntities" connectionString="metadata=res://*/Models.HomeCareDBModel.csdl|res://*/Models.HomeCareDBModel.ssdl|res://*/Models.HomeCareDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.9.0.244;initial catalog=HomeCare_STG;user id=AdminHomeCare;password=AdminDpta@IT;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="TrackingSystemEntities" connectionString="metadata=res://*/Models.TrackingSystemModel.csdl|res://*/Models.TrackingSystemModel.ssdl|res://*/Models.TrackingSystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.9.0.25;initial catalog=TrackingSystem;user id=AdminCRM;password=AdminDpta@it;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="LogAppEntities" connectionString="metadata=res://*/Models.LogApp.csdl|res://*/Models.LogApp.ssdl|res://*/Models.LogApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOGSERVER;initial catalog=LogApp;user id=AdminLogApp;password=AdminDpta@IT;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="MailServerIP" value="192.9.0.72"/>
    <!--<add key="MailServerTOKEN" value="Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6IkNvbnN0cnVjdGlvbkFwaSIsImlhdCI6MTU0NzQ1MzUzMX0.qT6q3cyuy0o4dEwxquq0qSv3L1PNPP3Y4MFtvyMKJgM" />-->
    <add key="SystemName" value="Home Care system"/>
    <add key="UploadFile" value="UploadPath"/>
    <add key="ReceiveFile" value="ReceiveFile"/>
    <add key="WorksheetFile" value="WorksheetFile"/>
    <add key="DebugMode" value="1"/>
    <!--for test Email-->
    <add key="UseTestEmail" value="0"/>
    <!--Path Server-->
    <add key="FileServer" value="http://localhost:44372/UploadPath/"/>
    <add key="DocumentServer" value="http://localhost:44372/"/>
    <!--<add key="Iconpath" value="http://localhost:2742/Images/fileIcon/" />
    <add key="FileServer" value="http://sansiriapp4.sansiri.com/HomeCare/UploadPath/" />
    <add key="DocumentServer" value="http://sansiriapp4.sansiri.com/HomeCare/" />-->
    <add key="Iconpath" value="http://sansiriapp4.sansiri.com/HomeCare/Images/fileIcon/"/>
    <!--Path Server-->
    <!--F Document Upload-->
    <add key="DocumentF" value="DocumentF"/>
    <!--F1 Configuration-->
    <add key="FileF1" value="F1"/>
    <add key="WorksheetF1" value="F1"/>
    <add key="DocumentF1" value="DocumentF/F1/"/>
    <!--F2 Configuration-->
    <add key="FileF2" value="F2"/>
    <add key="WorksheetF2" value="F2"/>
    <add key="DocumentF2" value="DocumentF/F2/"/>
    <!--F3 Configuration-->
    <add key="FileF3" value="F3"/>
    <add key="FileF3EN" value="F3_EN"/>
    <add key="WorksheetF3" value="F3"/>
    <add key="DocumentF3" value="DocumentF/F3/"/>
    <!--F5 Configuration-->
    <add key="FileF5" value="F5"/>
    <add key="WorksheetF5" value="F5"/>
    <add key="DocumentF5" value="DocumentF/F5/"/>
    <!--F9 Configuration-->
    <add key="FileF9" value="F9"/>
    <add key="WorksheetF9" value="F9"/>
    <add key="DocumentF9" value="DocumentF/F9/"/>
    <!--FSignature Configuration-->
    <add key="DocumentSignature" value="Images/signature"/>
    <!--QT Configuration-->
    <add key="FileQT" value="Quotation"/>
    <add key="WorksheetQT" value="Quotation"/>
    <add key="DocumentQT" value="DocumentF/Quotation/"/>
    <!--WorkSheet Configuration-->
    <add key="FileWSReport" value="WorksheetReport"/>
    <add key="WorksheetReport" value="WorksheetReport"/>
    <add key="DocumentWorksheetReport" value="DocumentF/WorksheetReport/"/>
    <!--WorkSheetSLA Configuration-->
    <add key="FileWSSLAReport" value="WorksheetSLAReport"/>
    <add key="WorksheetSLAReport" value="WorksheetSLAReport"/>
    <!--WorkSheetByReceived Configuration-->
    <add key="FileWSSLAByReceivedReport" value="WorksheetSLAByReceivedReport"/>
    <add key="WorksheetSLAByReceivedReport" value="WorksheetSLAByReceivedReport"/>
    <!--PrintLabel Configuration-->
    <add key="FilePrintLabel" value="rptHC_PrintLabel.rpt"/>
    <add key="DocumentPrintLabel" value="~/Report/"/>
    <!--WorkSheetQuesttionnaire-->
    <add key="FileQuestionnaireReport" value="QuestionnaireReport"/>
    <add key="QuestionnaireReport" value="QuestionnaireReport"/>
    <add key="DocumentQuestionnaireReport" value="DocumentF/Questionnaire/"/>
    <add key="EmailTest" value="ChinapatS@sansiri.com"/>
    <!--HSA Configuration-->
    <add key="UrlApiNotification" value="http://www.sansiriservice.com/api/noti/homecare"/>
    <add key="Service_Name" value="Notification HSA"/>
    <add key="NotiMsg_Accepted" value="Your request has been accepted."/>
    <add key="NotiMsg_OnProcess" value="Your request has been allocated."/>
    <add key="NotiMsg_Completed" value="Your request has been completed."/>
    <add key="NotiMsg_Declined" value="Your request has been declined."/>
    <add key="NotiMsg_PendingWarrantyJob" value="รอเก็บพร้อมงานประกัน"/>
    <add key="NotiMsg_PendingF5" value="รอลูกค้าสะดวกนัดเข้าซ่อม"/>
    <!--<add key="Home_Care_API" value="http://localhost:6544/api"/>-->
    <add key="Home_Care_API" value="https://siriapidev.sansiri.com/homecare_api/api"/>
    <!--<add key="Home_Care_API" value="https://siriwebapi.sansiri.com/homecare_api/api" />-->
    <!--Construction API-->
    <!--Development-->
    <add key="Construction_API" value="https://localhost:5000"/>
    <add key="BasePath" value=""/>
    <!--<add key="Construction_API" value="https://siriapi.sansiri.com/stg-construction-local"/>
    <add key="BasePath" value=""/>-->
    <!--Staging-->
    <!--<add key="Construction_API" value="https://siriapi.sansiri.com/stg-construction" />
    <add key="BasePath" value="/HomeCare_STG" />-->
    <!--Production-->
    <!--<add key="Construction_API" value="https://siriapi.sansiri.com/construction" />
    <add key="BasePath" value="/HomeCare" />-->
    <!-- HomeCard -->
    <add key="EnableHomeCard" value="true"/>
    <add key="HomeCardVat" value="false"/>
    <!--OF77-->
    <!--<add key="UnitForEmployee" value="128042"/>-->
    <add key="UnitForEmployee" value="128085"/>
    <add key="MasterCostTemplate" value="MasterCost_Template_#date.xlsx"/>
    <!-- For log in AD-->
    <add key="ClientId" value="be22ba43-014a-4503-9c7a-550737ea4fea"/>
    <add key="Tenant" value="875bdd0a-688b-41d2-96b7-454d280043aa"/>
    <add key="Authority" value="https://login.microsoftonline.com/{0}/v2.0"/>
    <add key="redirectUri" value="https://localhost:44372/HC/Login"/>
    <add key="redirectPath" value="/"/>
    <!-- For deploy-->
    <!--<add key="redirectPath" value="/HomeCare_STG"/>-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="en-US" uiCulture="en-US"/>
    <authentication mode="None"/>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.6.1" debug="true"/>
    <httpRuntime targetFramework="4.6.1"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <sessionState timeout="120"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <httpRedirect enabled="false" destination="https://sansiriapp4.sansiri.com/Underconstruction" exactDestination="true"/>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="^(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{REQUEST_URI}" redirectType="Permanent"/>
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*"/>
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true"/>
          </conditions>
          <action type="Rewrite" value="max-age=31536000"/>
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <HomeCare_4_0.Properties.Settings>
      <setting name="PI_Domain_Prd" serializeAs="String">
        <value/>
      </setting>
      <setting name="PI_User_Prd" serializeAs="String">
        <value>SIRIPI</value>
      </setting>
      <setting name="PI_Pwd_Prd" serializeAs="String">
        <value>sansiri</value>
      </setting>
      <setting name="HomeCare_4_0_WebServiceGetLeave_webServiceGetLeave" serializeAs="String">
        <value>http://www.siriintranet.com/eleave/Service/webServiceGetLeave.asmx</value>
      </setting>
      <setting name="CareSyncOutlookAPI" serializeAs="String">
        <value>API/Calendar/GetHCCalendarList</value>
      </setting>
      <setting name="Hostapi" serializeAs="String">
        <value>http://20.20.20.38/homecare_api/</value>
      </setting>
      <setting name="HomeCare_4_0_SAP_HC_XI_ff07ed6e42ac32019d0af43160bf618e_Service" serializeAs="String">
        <value>http://xidev:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_CRM_WEB_SERVICE&amp;receiverParty=&amp;receiverService=&amp;interface=Z_SI_ADVANCE_VENDOR&amp;interfaceNamespace=http%3A%2F%2Fwww.sansiri.com%2FCRM%2Fadvance</value>
      </setting>
      <setting name="HomeCare_4_0_SI_Vendor_Search_Sync_Req_SI_Vendor_Search_Sync_ReqService" serializeAs="String">
        <value>http://xiqas.sansiri.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_VENDOR_MANAGEMENT_WEB_SERVICE&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Vendor_Search_Sync_Req&amp;interfaceNamespace=http%3A%2F%2Fwww.sansiri.com%2FECC%2FVENDOR%2F</value>
      </setting>
      <setting name="HomeCare_4_0_PushService_PushService" serializeAs="String">
        <value>http://mobile-dev.sansiri.com/moaserverqas/PushService.asmx</value>
      </setting>
    </HomeCare_4_0.Properties.Settings>
  </applicationSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: {915F351E-8CFF-443A-8121-43BECAF30CB9}-->